
<div class="col-sm-6col-md-6col-lg-6 container">
    <div class="forms">
        <div class="form login">
            <h2 class="title">Get back to your account!</h2>
            <p class="titlee">Login to your account to continue</p>
            <form action="#">
                <div class="input-field">
                    <input  type="text"  placeholder="Email" required>
                    
                </div>
                <div class="input-field iconpass">
                    <input type="password"  placeholder="Password" required>
                    <i class="uil uil-eye"></i>
                </div>
                <div class="d-flex justify-content-end">
                    <a href="#!" class="forget">Forgot password?</a>
                </div>
                <button type="submit" class="btn  btn-block mb-4 w-100 mt-4" style="border-radius: 0 !important; color: whitesmoke;">Login</button>
                <div class="text-center">
                     <p>If you don't have an account, <a href="#!" class="forget">Sign up here</a></p>
                </div>
        </form>
        </div>
    </div>
    
</div>
<div class="row foot">
    <div class="col-sm-6 col-md-6 col-lg-6">
        <p>Trouble signing in? Contact support</p>
    </div>
    <div class="col-sm-6 col-md-6 col-lg-6">
        <p>Privacy | Terms</p>
    </div>
</div>